---
/**
 * Home Page
 */
import Form from "../components/Form.vue";
import MainLayout from "../layouts/MainLayout.astro";

//NOTE: JS here is treated like server side pre render
---
<MainLayout title="Portafolio: Francisco - Home">
<p>hi</p>
<Form client:visible></Form>
</MainLayout>
